@model IEnumerable<Lcvoiture.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des gens qui ont loués des voitures!</h2>

<p>
    @Html.ActionLink("Créer un nouveau !", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.nom_Complet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voiture.matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.nom_Complet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voiture.matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.locationID }, new { @class = "btn btn-outline-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.locationID }, new { @class = "btn btn-outline-success" }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.locationID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
