@model IEnumerable<Lcvoiture.Models.Modele>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Models des voitures</h2>

<p>
    @Html.ActionLink("Créer un nouveau !", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serie)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.modeleID }, new { @class = "btn btn-outline-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.modeleID }, new { @class = "btn btn-outline-success" }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.modeleID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
