@model Lcvoiture.Models.Voiture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.categorieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.categorieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modele.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modele.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_Mise_En_Circulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Mise_En_Circulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix_Par_Jour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix_Par_Jour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carburant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carburant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <td>
            <img style="width: 250px; max-width:250px" src="~/images/@Model.image" >
        </td>

    </dl>
</div>
<p>
    @Html.ActionLink("Modififer", "Edit", new { id = Model.voitureID }) |
    @Html.ActionLink("Retoutner à la liste", "Index")
</p>
