@model IEnumerable<Lcvoiture.Models.Voiture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails de nos voitures !</h2>

<p>
    @Html.ActionLink("Créer un nouveau !", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Modele.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_Mise_En_Circulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix_Par_Jour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carburant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Modele.serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Modele.nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.matricule)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date_Mise_En_Circulation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.prix_Par_Jour)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.carburant)
    </td>
    <td>
        <img style="width: 250px; max-width:250px" src="~/images/@item.image" alt="@item.matricule">
    </td>

    <td>
        @Html.DisplayFor(model => item.Modele.serie)
    </td>
    <td>
        @Html.DisplayFor(model => item.Categorie.type)
    </td>
    <td>
        <div class="btn-group">



            @Html.ActionLink("Modifier", "Edit", new { id = @item.voitureID }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Details", "Details", new { id = @item.voitureID }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Supprimer", "Delete", new { id = @item.voitureID }, new { @class = "btn btn-outline-danger" })




        </div>
    </td>
</tr>
}

</table>
