@model Lcvoiture.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression</h2>

<h3>Vous etes sur de vouloir supprimer ce client?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_Complet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_Complet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_Naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Naissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_CIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_CIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_Permis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_Permis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Précedent", "Index")
        </div>
    }
</div>
